body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(47, 91, 109);
  color: white;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display:flex
}
.flex-row{
  flex-direction: row;
  gap: 20px;
}

.flex-full{
  align-self: stretch;
  width: 100%;
}

.centered{
  align-items: center;
  justify-content: center;
}
.flex-main{
  flex: 3 300px;
}


.last-flex-item{
  flex: 1 300px;
}

.flex-column{
  display:flex;
  flex-direction: column;
}
.footer {
  padding: 7.5px;
  font-size: 0.8em;
  width: 100%;
  background-color: rgb(8, 20, 53);
  max-height: 75px;
  outline: 1px solid green;
  margin-top: auto;
  flex-basis: 100px;
  flex-grow: 1;
  text-align: end;
}

.full {
  height: 100vh;
}

@media only screen and (min-width: 48em){
  .footer{
    font-size: 1em;
    padding: 25px;
  }
}

.aside-menu{
  background: rgb(218, 218, 226);
  border-radius: 10px;
  width: 400px;
  margin-left:auto;
  overflow: scroll;
}

.block-center{
  display:block;
  margin-right: auto;
  margin-left: auto;
  width:100%;
}

.tk-grid{
  position: absolute;
  top:auto;
  right:auto;
}

div[draggable="true"]:hover {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

div[draggable="true"]:active:hover{
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.hidden{
  display: none;
}


.aria-err{
  color: orange;
  font-size:0.75em;
  margin-bottom: 5px;
}

.disabled{
  color: gray;
}

.confirm-page{
  border: 1px solid black;
  
}