:root{
    --pagination-ht: 35px;
    --pagination-wdth: 150px;
}

.form-section{
    margin-bottom: 45px;
        flex: 1;
        min-width: 0;
}
.three_panel{
    display: grid;
    grid-template-columns: 100px 100px 100px;
}
.small-descript{
    display: block;
    margin-top: 30px;
    max-width: 400px;
    height: 50px;
}

.text-wrapper{
    display: block;
}
.sec-description{
    font-weight: bold;
    text-align: start; 
    flex-grow: 1;
    padding-top: 30px; 
    font-size: 1.2em;
}
.optional-tag{
    position: relative;
    right: 10px;
    top: -10px;
    font-size: 0.8em;

}
.form-body{
    margin: 30px 30px 0px 30px;
}
.profile-pic{
    width: 300px;
    height: 300px;
    outline: 15px solid rgb(10, 10, 61);
    border-radius: 30px;
}
.re-form{
    justify-content: space-between;
    flex: 1;
    gap: 30px;
    margin-bottom: 10px;
}
.drag-image-area{
    background-color:rgba(140, 201, 193, 0.527);
    display: flex;
    border: 2.5px dashed rgb(9, 9, 59);
    border-radius: 35px;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.active-section{
    border: 2.5px solid black;
}
.upload-btn{
    display: block;
    color: rgb(0, 56, 141);
    font-weight: bolder;
    cursor: pointer;
}
.profile-wrapper{
   margin-bottom: 50px; 
   gap: 15px;
   align-items: center;
}
.re-form > div{
    flex-basis: 30%;
}
.toggle-item{
    position: absolute;
    top: -7.5px;
    right: 15px;
}

legend{
    background-color: black;
    color: whitesmoke;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 100px;
    font-size: 1.4em;
}
fieldset{
    border: none;
    border-radius: 10px;
    z-index: 1;
    position: relative; 
    border: 2px solid black;
    padding: 0px 20px 50px;
    box-shadow: 20px 20px rgb(8, 20, 53);

}
.grid-cell-form{
    position: relative;
    margin-bottom: 20px;
}
.tab{
    display:none;
}
.set-tab{
    border-left: 5px solid green;
}
.border-left{
    border-left: 5px solid rgb(206, 97, 9);
}
.hidden-item-wrapper{
    display: none;
}
.pointer-not-allowed:hover{
    cursor: not-allowed;
}
.fixed-button{
    margin-top: 15px;
    width: fit-content;
    padding: 0px 5px 2px;
    align-self: flex-end;

}
/*main body for character form builder*/
.chara-form{
    position: relative;
    width: min(90%, 1960px);
    min-height: 680px;
    padding: min(10px, 10%);
    display:flex;
}
.pagination-wrapper{
    align-self: flex-start;
    width: 100%;
    display:flex;
    justify-content: center;
}


.list-tab{
    position: relative;
    overflow: visible;
    list-style: none;
    padding: 5px 50px 5px 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin-bottom: 10px;
 }

.vert-tab-simple{
    margin-bottom: 40px;

    overflow-x: scroll;
    flex-direction: row; 
    position: sticky;
}  

.res-flex-res{
    display:flex;
    flex-direction: row;
}

.list-tab{
    background-color: black;

}
.res-2-2{
    max-height: 480px;
    overflow-y: scroll;
    font-size: 0.8em;
    padding: 20px;
    margin-bottom: 30px;
}

.nav-btn {
    position: absolute;
    bottom: 20px;
    right: 45px;
}

.nav-btn {
    position: absolute;
    bottom: -10px;
    right: 25px;
}
@media only screen and (min-width: 780px){
    .nav-btn {
        position: absolute;
        bottom: -20px;
        right: 45px;
    }

    .list-tab:hover{
        background-color: black;
     }
    
    .active-list-tab{
        background-color: orange;
        color: black;
        font-weight: bold;
    }
    
    .active-list-tab:hover{
        background-color: orange;
    }

    .res-2-2{
        display: grid;
        grid-template-columns: auto auto; 
        gap: 30px;
        max-height: 580px;
        padding-right: 30px;
    }

    .vert-tab-simple{
        float: none;
        flex-direction: column;
        overflow-x: visable;
        padding-right: 10px;
        border-right: 2px dotted black; 
        margin-right: 10px; 
        width: 160px;
        max-width: 30%;
        text-overflow: ellipsis;
        border-bottom: none;
    }
    
}

@media only screen and (max-width: 480px){
    .res-flex-res{
        flex-direction: column;
    }
}




.pagination{
    list-style: none;
    overflow: hidden;
    margin-bottom: 20px;
    width: calc((var(--pagination-wdth) * 6) + 25px) ;
    font-size: 1.2em;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination-item {
    float: left;
    position: relative;
}

.form-textarea > div >  textarea{
    min-width: 80%;
    max-width: 100%;
    min-height: 60px;
    margin-bottom: 25px;
}
.form-textarea > div:last-child > textarea{
    margin-bottom: 0px;
}

.main-body{
    width: 100%;
    flex-grow: 1;
}

.pagination-btn {
    border: none;
    background-color:  rgb(253, 129, 46);
    padding: 2px 0px 2px 35px;
    position: relative;
    width: var(--pagination-wdth);
    font-size: 0.8em;
    font-family: Tahoma, sans-serif;
    height: 45px;


}
.alert-notify{
    border: 2px solid white;
    min-width: 25px;
    height: 25px;
    background-color: red;
    color: white;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.pagination-item:nth-child(1) button{
    padding-left: 15px;
    border-top-left-radius: 20px;

}
@media only screen and (max-width:900px){
    .re-form{
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
        gap: 0px;
    }
    .re-form > div  {
        width: 80%;
        max-width: 350px;
        margin-bottom: 25px;
    }

}

@media only screen and (min-width:1028px){
    .pagination-btn::after{
        content: "";
        position: absolute;
        display:block;
        top: 50%;
        margin-top: calc(-1 * var(--pagination-ht));
        left: 100%;
        border-top: var(--pagination-ht) solid transparent;
        border-bottom: var(--pagination-ht) solid transparent;
        border-left: 20px solid rgb(253, 129, 46);
        z-index: 2; 

    }
    .pagination-btn::before{
        content: "";
        position: absolute;
        display:block;
        top: 50%;
        margin-top: calc(var(--pagination-ht) * -1);
        margin-left: 4px;
        left: 100%;
        border-top: var(--pagination-ht) solid transparent;
        border-bottom: var(--pagination-ht) solid transparent;
        border-left: 20px solid rgb(47, 91, 109);
        z-index: 2;    
    }
}

.pagination-item:nth-child(1) button.active {
    background-color: red;
}
.pagination-item:nth-child(1) button.active::after{
    border-left: 20px solid red;
}

.pagination-item button:hover:not(:disabled){
    background-color: black;
    color: rgb(185, 191, 219);
   
}

.pagination-item button:hover:not(:disabled):after{
    border-left: 20px solid black;
}

.pagination-btn.disabled {
    background-color: gray;
    color:rgb(47, 91, 109);
}
.pagination-btn.disabled::after {
    border-left: 20px solid gray;
}


.current-btn{
    background-color: rgb(17, 0, 78);
    color: rgb(185, 191, 219);
    font-size: 0.9em;
    font-weight: bold;
}

.current-btn::after{
    border-left: 20px solid  rgb(17, 0, 78);
    
}
.current-btn::before{
    border-left: 20px solid rgb(28, 194, 130);
}

.prev-btn::before {
    border-left: 20px solid  rgb(28, 194, 130);  
}