:root{
    --pagination-ht: 35px;
    --pagination-wdth: 150px;
}

.form-section{
    margin-bottom: 30px;
}


.toggle-item{
    align-self: flex-end;
    margin: 5px 7px 0px 0px;
}

legend{
    background-color: black;
    color: whitesmoke;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 100px;
    font-size: 1.4em;
}
fieldset{
    border: none;
    border-radius: 10px;
    z-index: 1;
    position: relative; 
    border: 2px solid black;
    padding: 0px 20px 50px;

    box-shadow: 20px 20px rgb(8, 20, 53);

}
.grid-cell-form{
    position: relative;
    margin-bottom: 20px;
}
.tab{
    display:none;
}

.fixed-button{
    margin-top: 15px;
    width: fit-content;
    padding: 0px 5px 2px;
    align-self: flex-end;

}
.chara-form{
    border: 3px dotted rgb(28, 20, 71);

    border-radius: 100px;
    border-end-start-radius: 0px;
    border-start-end-radius: 0px;
    width: calc(min(90%, 1200px));
    height: calc(min(95%, 1980px));
    padding: 60px;
    display:flex;
    overflow: scroll;
}
.pagination-wrapper{
    align-self: flex-start;
    width: 100%;
    display:flex;
    justify-content: center;
}

.pagination{
    list-style: none;
    overflow: hidden;
    margin-bottom: 20px;
    width: calc((var(--pagination-wdth) * 6) + 25px) ;
    font-size: 1.2em;
}

.pagination-item {
    float: left;
    position: relative;
}

.main-body{
    width: 100%;
    flex-grow: 1;
}

.pagination-btn {
    border: none;
    background-color:  rgb(253, 129, 46);
    padding: 2px 0px 2px 35px;
    position: relative;
    width: var(--pagination-wdth);
    font-size: 0.8em;
    font-family: Tahoma, sans-serif;
    height: 45px;


}
.pagination-item:nth-child(1) button{
    padding-left: 15px;
    border-top-left-radius: 20px;

}

@media only screen and (min-width:1028px){
    .pagination-btn::after{
        content: "";
        position: absolute;
        display:block;
        top: 50%;
        margin-top: calc(-1 * var(--pagination-ht));
        left: 100%;
        border-top: var(--pagination-ht) solid transparent;
        border-bottom: var(--pagination-ht) solid transparent;
        border-left: 20px solid rgb(253, 129, 46);
        z-index: 2; 

    }
    .pagination-btn::before{
        content: "";
        position: absolute;
        display:block;
        top: 50%;
        margin-top: calc(var(--pagination-ht) * -1);
        margin-left: 4px;
        left: 100%;
        border-top: var(--pagination-ht) solid transparent;
        border-bottom: var(--pagination-ht) solid transparent;
        border-left: 20px solid rgb(47, 91, 109);
        z-index: 2;    
    }
}

.pagination-item:nth-child(1) button.active {
    background-color: red;
}
.pagination-item:nth-child(1) button.active::after{
    border-left: 20px solid red;
}

.pagination-item button:hover:not(:disabled){
    background-color: black;
    color: rgb(185, 191, 219);
   
}

.pagination-item button:hover:not(:disabled):after{
    border-left: 20px solid black;
}

.pagination-btn.disabled {
    background-color: gray;
    color:rgb(47, 91, 109);
}
.pagination-btn.disabled::after {
    border-left: 20px solid gray;
}


.current-btn{
    background-color: rgb(17, 0, 78);
    color: rgb(185, 191, 219);
    font-size: 0.9em;
    font-weight: bold;
}

.current-btn::after{
    border-left: 20px solid  rgb(17, 0, 78);
    
}
.current-btn::before{
    border-left: 20px solid rgb(28, 194, 130);
}

.prev-btn::before {
    border-left: 20px solid  rgb(28, 194, 130);  
}