*, 
::before, 
::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.mid {
    display: flex;
    justify-content: center;
    margin: 30px 0px 45px;
    flex: 5 auto;
    width: 100%;
}

.form-card {
    border: 2px solid rgb(8, 20, 53);
    border-radius: 7px;
    box-shadow: 15px 15px rgb(8, 20, 53);
    margin: 15px;
    width: 320px;
    min-height: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    background-image: linear-gradient(180deg, rgb(54, 67, 141), transparent);
}


.form-group {
    width: 200px;
    font-size:1.25em;
}

.form-item{
    margin-bottom:10px;
    display:flex;
    flex-direction:column;
}


.card-banner {
    border: none;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px -2px black, -2px -2px black, -2px 0px black, 2px 0px black;
    background-color: black;
    z-index:3;
    width:100%;
    height: 18%;
    align-self:stretch;
    padding: 10px;
    font-size:0.9em;
}

.sign-in-form{
    display:flex;
    flex-direction: column;
    margin-bottom: 25px;
    position: relative;
    
}

.sign-in-title{
    margin-bottom: 20px;
    font-size: 2.1em;
}

.btn-1{
    background-color: transparent;
    padding: 2px;
    color: whitesmoke;
    border-radius: 5px;
    background: linear-gradient( rgb(63, 108, 255), rgb(30, 67, 187) );
    border: none;
    border-top: 1px solid rgb(102, 232, 255);
    box-shadow: 5px 5px  rgba(0, 0, 0, 0.5);
    margin: 10px;
    cursor: pointer;
    font-size: 0.8em;
    padding: 5px;
}
.btn-1:hover{
    background: black;
}
.btn-1:active,.btn-active, .btn-active:hover{
    background: orange;
}
.sign-in-form > button{
    margin-top: 10px;
    width: 50%;
    align-self: flex-end;
    
}
.sign-in-form > button.active-btn:hover, .active-btn:hover{
    background: rgb(238, 134, 16);
    cursor: pointer;
}

.sign-in-form > button.disabled-btn{
    border-color: gray;
    color: gray;
}

.border{
    position: absolute;
    border-right: 2px solid rgb(0, 0, 0);
    border-top-right-radius: 5px;
    top: 0%;
    left: 2px;
    height: 55%;
    width: 100%;
}
.alert {
    color: rgb(255, 72, 39);
    font-size: 0.5em;
}


form + a {
    position: absolute;
    bottom: 2%;
    right: 5%;
    font-size: 0.85em;
    
}
form + a:hover{
    color: rgb(255, 174, 0);
    text-decoration: underline;
    cursor: pointer;
}

.sign-in-form > label{
    font-size: 0.8em;
}

input {
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    margin-top:2px;

}
/*portrait tablet*/ 
@media only screen and (min-width: 48em){

    .card-banner{
        font-size: 1.8em;
    }
    
    .form-card {
        width: 450px;
        height: 630px;
    }
    .border{
        display:none;
    }
    .form-group{
        width: 375px;
        font-size: 1.75em;
    }
    input, button {
        height: 30px;
    }
    /* button{
        font-size: 0.65em;
    } */
}
/*landscape tablet*/

/*Desktop*/
@media only screen and (min-width: 992px){
    .card-banner{
        font-size: 1.8em;
    }
    
    .form-card {
        width: 500px;
        min-height: 670px;
        height: auto;
    }
    .border{
        display:none;
    }
    .form-group{
        width: 375px;
        font-size: 2em;
    }
    input, button {
        height: 30px;
    }
    button{
        font-size: 0.65em;
    }
}

.confirm-card {
    min-width: 500px;
    min-height: 125px;
    height: auto;
}
.confirm-card > p{
    margin-top: 10px;
}