@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.sm-font{
    font-size: 0.8em;
}

.white-text {
    color: white;
    font-weight: bold;
}

.text-center {
    text-align: center;
    display: inline-block;
}

.normalize-pointer:hover{
    cursor:default;
}

.bold-dark-header{
    color: black;
    font-size: 1.2em;
    margin: 0 1em 0;
}

.example-text{
    font-size: 0.8em;
    color: black;
    display: inline-block;
    text-align: end;
}