:root{
    --pagination-ht: 35px;
    --pagination-wdth: 150px;
    --deep-blue: rgb(8, 20, 53);
}

.form-section{
    margin-bottom: 45px;
        flex: 1;
        min-width: 0;
}
.three_panel{
    display: grid;
    grid-template-columns: 100px 100px 100px;
}
.small-descript{
    display: block;
    margin-top: 30px;
    max-width: 400px;
    height: 50px;
}

.text-wrapper{
    display: block;
}
.sec-description{
    font-weight: bold;
    text-align: start; 
    flex-grow: 1;
    padding-top: 30px; 
    font-size: 1.2em;
}
.optional-tag{
    position: relative;
    right: 10px;
    top: -10px;
    font-size: 0.8em;

}
.form-body{
    margin: 30px 30px 0px 30px;
}
.profile-pic{
    width: 300px;
    height: 300px;
    outline: 15px solid rgb(10, 10, 61);
    border-radius: 30px;
}
.re-form{
    justify-content: space-between;
    flex: 1;
    gap: 30px;
    margin-bottom: 10px;
}
.drag-image-area{
    background-color:rgba(140, 201, 193, 0.527);
    display: flex;
    border: 2.5px dashed rgb(9, 9, 59);
    border-radius: 35px;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.active-section{
    border: 2.5px solid black;
}
.upload-btn{
    display: block;
    color: rgb(0, 56, 141);
    font-weight: bolder;
    cursor: pointer;
}
.profile-wrapper{
   margin-bottom: 50px; 
   gap: 15px;
   align-items: center;
}
.re-form > div{
    flex-basis: 30%;
}
.toggle-item{
    position: absolute;
    top: -7.5px;
    right: 15px;
}

legend{
    background-color: black;
    color: whitesmoke;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 100px;
    font-size: 1.4em;
}
fieldset{
    border: none;
    border-radius: 10px;
    z-index: 1;
    position: relative; 
    border: 2px solid black;
    padding: 0px 20px 50px;
    box-shadow: 20px 20px var(--deep-blue);

}
.grid-cell-form{
    position: relative;
    margin-bottom: 20px;
}
.tab{
    display:none;
}
.set-tab{
    border-left: 5px solid green;
}
.border-left{
    border-left: 5px solid rgb(206, 97, 9);
}
.hidden-item-wrapper{
    display: none;
}
.pointer-not-allowed:hover{
    cursor: not-allowed;
}
.fixed-button{
    margin-top: 15px;
    width: fit-content;
    padding: 0px 5px 2px;
    align-self: flex-end;

}
/*main body for character form builder*/
.chara-form{
    position: relative;
    width: min(90%, 1960px);
    min-height: 680px;
    padding: min(10px, 10%);
    display:flex;
}

.list-tab{
    position: relative;
    overflow: visible;
    list-style: none;
    padding: 5px 50px 5px 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin-bottom: 10px;
 }

.vert-tab-simple{
    margin-bottom: 40px;

    overflow-x: scroll;
    flex-direction: row; 
    position: sticky;
}  

.res-flex-res{
    display:flex;
    flex-direction: row;
}

.list-tab{
    background-color: black;

}
.res-2-2{

    padding: min(20px, 5%);
    margin-bottom: 30px;
}

.nav-btn {
    position: absolute;
    bottom: 20px;
    right: 45px;
}

.nav-btn {
    position: absolute;
    bottom: -10px;
    right: 25px;
}

.aside_note{
    background-color: rgba(147, 191, 247, 0.4);
    border-radius: 40px;
    padding: min(30px, 10%);
    margin: 30px min(30px, 5%);
}

.deep_blue_card_shadow{
    border-radius: 40px;
    box-shadow: 20px 20px var(--deep-blue);
}
@media only screen and (min-width: 780px){
    .nav-btn {
        position: absolute;
        bottom: -20px;
        right: 45px;
    }

    .list-tab:hover{
        background-color: black;
     }
    
    .active-list-tab{
        background-color: orange;
        color: black;
        font-weight: bold;
    }
    
    .active-list-tab:hover{
        background-color: orange;
    }

    .res-2-2{
        display: grid;
        grid-template-columns: auto auto; 
        gap: 30px;
        padding-right: 30px;
    }

    .vert-tab-simple{
        float: none;
        flex-direction: column;
        overflow-x: visable;
        padding-right: 10px;
        margin-right: 10px; 
        width: 160px;
        max-width: 30%;
    }
    

}

@media only screen and (max-width: 480px){
    .res-flex-res{
        flex-direction: column;
    }

    
  .fieldset {
    box-shadow: 5px 5px var(--deep-blue);
  }
}



.form-textarea > div >  textarea{
    min-width: 80%;
    max-width: 100%;
    min-height: 60px;
    margin-bottom: 25px;
}
.form-textarea > div:last-child > textarea{
    margin-bottom: 0px;
}
.btn-xl{
    font-size: 1.2em;
    
}

.main-body{
    width: 100%;
    flex-grow: 1;
}


.alert-notify{
    border: 2px solid white;
    min-width: 25px;
    height: 25px;
    background-color: red;
    color: white;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}





@media only screen and (max-width:900px){
    .re-form{
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
        gap: 0px;
    }
    .re-form > div  {
        width: 80%;
        max-width: 350px;
        margin-bottom: 25px;
    }

}
