:root {
  --error-color: rgb(231, 38, 3);
  --base-background: rgb(24, 116, 93);
  --deepblue:  rgb(17, 0, 78);
  --highlighter-green: rgb(28, 194, 130);
  --orange: rgb(253, 129, 46);
}
#root{
  flex-grow: 1;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--base-background);
  color: white;
  min-height: 100vh;
}

.scrollable {
  overflow-y: scroll;
}
.non-scrollable {
  overflow: hidden;
}

.centered-block{
  display:inline-block;
}

.hztl-border{
  border-radius: 25px;
  padding: 0.4rem;
  padding-right: 1ch;
  background: lightgray;
  color: black;
  width: fit-content;
  font-size: 0.8rem;
  max-height: 1.8rem;
}
.flex-wrap{
  flex-wrap: wrap;
  
}
.hztl-border > input[type='checkbox']{
  background-color: transparent;
  height: auto;
  margin-right: 0.7ch;
}

.hztl-border > input:disabled{
  display: none;
  cursor: default;
}
.hztl-border:has(input:disabled),
.hztl-border > input:disabled + label{
  cursor: default;
  text-decoration: line-through;
} 

.hztl-border:has(input:checked){
  background-color: var(--deepblue);
  font-weight: bold;
  color: white;
}

.hztl-border > label{
  line-height: 120%;
}
.hztl-border:hover, .hztl-border > *:hover{
  cursor: pointer;
}
.float-right{
  float: right;
}

.sm-margin-top{
  margin-top: 0.75em;
}
/*style={{marginTop:"30px", maxWidth: '300px'}} */


/* style={{ justifyContent: 'center', alignItems: 'center', marginBottom: '50px'}} */

/* style={{ flex: "1 0 70%", padding: '20px', border: '2px solid  rgb(8, 20, 53)', borderRadius:'30px', boxShadow: "20px 20px rgb(8, 20, 53)"}}*/
.card-3{

}
.summary-wrapper{
  margin: -1em 0 0.5em;
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.summary-wrapper > img{
  margin-right: 10px;
}
.red-background {
  background-color: var(--error-color);
}
.orange-background{
  background-color: var(--orange);
}
.inline-btn{
  border:none;
  background-color: transparent;
  font-size: 1rem;
  display:inline-block;
  margin-right: 1ch;
  font-weight: bolder;
  cursor: pointer;
  color: black}


.summary-wrapper:hover .inline-btn{
  color: black;
}
/* for hidding labels (accessibility) */
.off-field{
  position: fixed;
  top: -10000px;
  left: -10000px;
}
input, textarea{
  z-index:7;
  border-radius: 5px;
  padding: 5px;

}

input[type="number"]{
  width: 50px;
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus-visible {
  outline: 3px outset rgb(202, 81, 1);
  border-radius: 5px;
  background-color: whitesmoke;
  color: black;
}

.width-s {
  max-width: 100px;
}
.width-m{
  min-width: 100px;
  max-width: 45%;
}

.width-L{
  min-width: 150px;
  max-width: 60%;
}

.height-m{
  min-height: 100px;
  max-height: 45%;
}

.height-l{
  max-height: 45%;
}

.height-w{
  height: inherit;
}
.margin-sm{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
.highlight-resource{
  border-radius: 30px;
  border: none;
  background: orange;
  color: black;
  font-size: 14px;
  padding: 5px;
}

.display-stat{
  font-size: 2.5em;
}

.card-2 {
  padding: min(10px, 5%);
  border-radius: 20px;
  background-color: rgb(24, 151, 98);
  box-shadow: 10px -10px rgb(14, 26, 26);
  color: black; 
}
.point-grid{
  display: grid;
}
.grayText{
  color: rgb(61, 61, 61)
}
.disabled-opacity{
  opacity: 0.25;
}
.point-grid > * {
  display:flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dashed black;
  padding: 20px;
}
.point-grid > h2 {
  border-bottom: 1px solid black;
}
.toggle{
  overflow: hidden;
  transition: max-height 0.4s ease-in;
}

.row-hoverable:hover{
  background-color: rgba(0, 0, 0, 0.2);
}
.circle{
  border: 5px solid black;
  border-radius: 50%;
  padding: 30px;
}


.toggle.collapse{
  max-height: 100px;
}

.toggle.expand{
  max-height: 1960px;
}

.toggle.expand > :nth-child(n+2) {
  animation: reveal 0.5s; 
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-btn{
  border: 0;
  background: none;
  height: 100px;
  width: 100px;
  outline: 1px solid red;
}

.card-focused{
  display: block;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.hide-background{
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0;
  left: 0;
  z-index:3;
}

.search-bar {
  border-radius: 5px;
  width: 500px;
}

.flex {
  display:flex
}
.flex-row{
  flex-direction: row;
  gap: 20px;
}

.flex-full{
  align-self: stretch;
  width: 100%;
}

.centered{
  align-items: center;
  justify-content: center;
}
.flex-main{
  flex: 3 300px;
}

.grid-o{
  display:grid;
  column-gap: 10px;
  row-gap: 3px;
  margin-bottom: 35px;
}
.grid-o > input{
  margin-bottom: 10px;
}

.o3x2{
  grid-template-columns: auto auto auto;
}

.last-flex-item{
  flex: 1 300px;
}

.flex-column{
  display:flex;
  flex-direction: column;
}
.footer {
  padding: 7.5px;
  font-size: 0.8em;
  width: 100%;
  background-color: rgb(8, 20, 53);
  height: 75px;
  outline: 1px solid green;
  margin-top: auto;
  text-align: end;
}

.full {
  height: 100vh;
}

@media only screen and (min-width: 48em){
  .footer{
    font-size: 1em;
    padding: 25px;
  }
}

.aside-menu{
  background: rgb(218, 218, 226);
  border-radius: 10px;
  width: 400px;
  margin-left:auto;
  overflow: scroll;
}

.block-center{
  display:block;
  margin-right: auto;
  margin-left: auto;
  width:100%;
}

.tk-grid{
  position: absolute;
  top:auto;
  right:auto;
}

div[draggable="true"]:hover {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

div[draggable="true"]:active:hover{
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.hidden{
  display: none;
}

.arrow-btn {
  background-color: transparent;
  border: 2px solid black;
  
  min-width: 25px;
  min-height: 25px;
  font-weight: bolder;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;


}
.static-number{
  flex: 0 0;
  min-width: 20px;
  text-align: center;
}

.aria-err{
  color: orange;
  font-size:0.75em;
  margin-bottom: 5px;
}

.header-2{
  margin-bottom: 20px;
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

.disabled{
  color: gray;
}

.confirm-page{
  border: 1px solid black;
  
}

input[aria-invalid=true]{
  background-color: rgb(182, 152, 152);
  outline: 4px solid red;
  
}
.alert-text{
  color: rgb(206, 186, 186);
  margin-top: 3px;
  font-weight: bolder;
  letter-spacing: 0.045em;
}


.img_upload, input[name="img_upload"]{
  border: none;
  background-color: transparent;
  text-align: center !important;
  display:block;

}

.medium-btn {
  font-size: 1.2em;
}


.display-map {
  display: block;
  width: max(400px, 65%);
  height: 400px;
  margin: 2rem auto;
  border-radius: 10px;
  padding: 0.5em;
}


